@import "tailwindcss";

* {
  cursor: none !important;
}

@layer utilities {
  .clip-path-hero {
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
  }

  .shadow-blue {
    box-shadow: 10px 10px 20px 10px rgba(59, 130, 246, 0.5);
  }
}

@theme {
  --animate-grad-xy: gradient-xy 4s ease infinite;
  --animate-spin-slow: spin-slow 20s linear infinite;

  @keyframes gradient-xy {

    0%,
    100% {
      background-position: left center;
      background-size: 400% 400%;
    }


    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }

  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 10s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-25%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 20s linear infinite;
}

.animate-marquee-reverse:hover {
  animation-play-state: paused;
}

.animate-marquee:hover {
  animation-play-state: paused;
}